<div class="auth-container">
    <form (ngSubmit)="register()" class="auth-form">
      <div *ngFor="let header of header"   >
      <h2>{{header.translationKeyHeader | translate}}</h2>
      
      <input type="text" [(ngModel)]="user.username" name="name" [placeholder]="'REGISTER.SEARCH_PLACEHOLDER_USERNAME' | translate" required />
      <input type="email" [(ngModel)]="user.email" name="email" [placeholder]="'REGISTER.SEARCH_PLACEHOLDER_EMAIL' | translate" required />
      <input type="password" [(ngModel)]="user.password" name="password" [placeholder]="'REGISTER.SEARCH_PLACEHOLDER_PASSWORD' | translate" required />
      <button type="submit">{{header.translationKeyButtonText | translate}}</button>
      <p>{{header.translationKeyAccount | translate}} <a routerLink="/sign-in">{{header.translationKeySignin | translate}}</a></p>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
    </form>
</div>



  