<header>
    <div class="container">
        <section class="welcome-msg">
            <div class="welcome-msg-content">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
                <a [href]="buttonLink" class="btn-learn-more" aria-label="Learn more about">
                    {{ buttonText }}
                </a>
            </div>

            <!-- <div class="welcome-msg-img">
                <img [src]="heroImageSrc" alt="E-Market Hero Image">
            </div> -->
        </section>
    </div>
</header>
