<header>
    <div class="container">
        <section class="welcome-msg">
            <div *ngFor="let header of header" class="welcome-msg-content">
                <h1>{{ header.translationKeyTitle | translate }}</h1>
                <p>{{ header.translationKeyDesc | translate }}</p>
                <a [href]="header.buttonLink" class="btn-learn-more" aria-label="Learn more about">
                    {{ header.translationKeyButtontext | translate }}
                </a>
            </div>

            <!-- <div class="welcome-msg-img">
                <img [src]="heroImageSrc" alt="E-Market Hero Image">
            </div> -->
        </section>
    </div>
</header>
