<app-header></app-header>
<main>
    <div class="container">
        <app-team-section></app-team-section>
        <app-products-section></app-products-section>
    </div>
</main>













<!-- <nav>
    <div class="container nav-bar">
        <ul class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search..." aria-label="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>

        <span class="logo">
            <img src="../../../assets/logo.png" alt="E-Market Logo">
        </span>
    </div>
</nav>

<header>
    <div class="container">
        <section class="welcome-msg">
            <div class="welcome-msg-content">
                <h1>E-market</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                <a href="#" class="btn-learn-more" aria-label="Learn more about E-Market">Learn More</a>
            </div>

            <div class="welcome-msg-img">
                <img src="" alt="E-Market Hero Image">
            </div>
        </section>
    </div>
</header>

<main>
    <div class="container">
        <section class="team">
            <h2 class="section-header">Team Members</h2>

            <div class="team-members">
                <div class="team-member-card">
                    <div class="team-member-img">
                        <img src="../../../assets/team-01.png" alt="John Doe - Marketing Manager">
                    </div>
                    <h3 class="member-name">John Doe</h3>
                    <p class="member-desc">Marketing Manager</p>
                </div>
                <div class="team-member-card">
                    <div class="team-member-img">
                        <img src="../../../assets/team-02.png" alt="Jane Smith - Developer">
                    </div>
                    <h3 class="member-name">Jane Smith</h3>
                    <p class="member-desc">Frontend Developer</p>
                </div>
                <div class="team-member-card">
                    <div class="team-member-img">
                        <img src="../../../assets/team-03.png" alt="Jane Smith - Developer">
                    </div>
                    <h3 class="member-name">Jane Smith</h3>
                    <p class="member-desc">Frontend Developer</p>
                </div>
            </div>
        </section>

        <section class="products">
            <h2 class="section-header">Products</h2>

            <div class="products-grid">
                <div class="product-card">
                    <div class="product-img">
                        <img src="../../../assets/product-01.webp" alt="Product 1">
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-img">
                        <img src="../../../assets/product-02.webp" alt="Product 2">
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-img">
                        <img src="../../../assets/product-03.webp" alt="Product 2">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer>
    <div class="container">
        <p>© 2024 E-Market. All rights reserved.</p>
    </div>
</footer> -->
