<div class="auth-container">
    <form (ngSubmit)="signIn()" class="auth-form">
      <div *ngFor="let header of header"   >
        <h2>{{header.translationKeyHeader | translate}}</h2>
        
      
      <input type="text" [(ngModel)]="credentials.username" name="user name" [placeholder]="'SIGNIN.SEARCH_PLACEHOLDER_USERNAME' | translate" required />
      <input type="password" [(ngModel)]="credentials.password" name="password" [placeholder]="'SIGNIN.SEARCH_PLACEHOLDER_PASSWORD' | translate" required />
      <button type="submit">{{header.translationKeyButtonText | translate}}</button>
      <p>{{header.translationKeyAccount | translate}} <a routerLink="/register">{{header.translationKeyRegister | translate}}</a></p>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
    </form>
</div>
  
