<section class="team">
    <div *ngFor="let team of teamHeader"   >
    <h2 class="section-header">{{team.translationKey | translate}}</h2>
    </div>

    <div class="d-flex justify-content-center flex-wrap gap-5">
        <div *ngFor="let team of teamMembers"  class="team-member-card " >
            <div class="team-member-img">
                <img [src]="team.imageSrc" [alt]="team.name">
            </div>
            <p class="member-name">{{ team.translationKeyName | translate }}</p>
            <p class="member-desc">{{ team.translationKeyRole | translate}}</p>
        </div>
    </div>
</section>
