<section class="team">
    <h2 class="section-header">Team Members</h2>

    <div class="d-flex justify-content-center flex-wrap gap-5">
        <app-team-card 
            name="John Doe" 
            role="Marketing Manager" 
            imageSrc="../../../assets/team-01.png">
        </app-team-card>

        <app-team-card 
            name="Jane Smith" 
            role="Lead Developer" 
            imageSrc="../../../assets/team-02.png">
        </app-team-card>

        <app-team-card 
            name="Mike Johnson" 
            role="UI/UX Designer" 
            imageSrc="../../../assets/team-03.png">
        </app-team-card>
    </div>
</section>
